/* #calendar-group {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#calendar-day {
    flex: 1;
    background-color: rgb(61, 62, 75);
}

 */

textarea {
    /* background-color: rgb(238, 232, 232); */
}

main {
    height: 100svh;
    overflow-y: scroll;
}

.calendar_2x6 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
}
.calendar_1x12 {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr); */
}
.calendar_1x12 .month{
    height: calc(100svh / 2);
    display: flex;
    flex-direction: column;
}
.calendar_1x12 .days{
    flex: 1;
}

/* .month {
  flex-basis: calc(50% - 20px);
  margin: 10px;
} */

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* grid-gap: 5px; */
}

.month {
    border-right: 2px solid #c9afaf;
    border-bottom: 2px solid #c9afaf;
}

.day {
    text-align: center;
    border-top: 2px solid rgb(211, 211, 211);
    border-right: 2px solid rgb(211, 211, 211);
    /* border-right: 2px solid rgb(211, 211, 211); */
    
}


.empty {
    flex-basis: calc(100% / 7);
    border-top: 2px solid rgb(211, 211, 211);
    border-right: 2px solid rgb(211, 211, 211);
}

.popup {
    right: 1rem;
    bottom: 1rem;
    border-radius: 3rem;
    background-color: red;
    height: 3rem;
    width: 3rem;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup>.bi {
    font-size: 1.4rem;
}

.add-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* bottom: 0;
    right: 0; */
}

.day-selected {
    /* background-color: rgb(253, 183, 183); */
    border: 2px dashed grey;
}

.day-with-comment {

    border: 2px solid rgb(53, 0, 0);
    border-radius: 4px;
}
.day-with-files {
    /* color: rgb(255, 111, 205); */
    border: 2px solid rgb(53, 0, 0);
    border-radius: 4px;

    background-size: cover;
	background-position: center;
    color: white;
    /* font-size: 1.4rem;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; */
}

.day-today {
    color: rgb(35, 116, 229) !important;
}

.fill-day-data {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* padding: 2px 1rem; */
    background-color: whitesmoke;
    height: 40vh;
    overflow: hidden;
}

textarea {
    height: calc(40vh - 10rem);
}

.files {
    overflow-x: auto;
}